<div class="d-flex justify-content-between align-items-center p-2 bg-dark text-white">
  <div>
    <img class="w-25 rounded rounded-5" src="images/image.png">
  </div>
  <div class="">
    <ul class="d-flex">
      <li class="p-2">
        <a class="p-3" routerLink="/home" routerLinkActive="bg-info rounded-pill">Home</a>
      </li>
      <li class="p-2">
        <a class="p-3" routerLink="/about" routerLinkActive="bg-info rounded-pill ">About</a>
      </li>
      <li class="p-2">
        <a class="p-3" routerLink="/meals" routerLinkActive="bg-info rounded-pill ">Meals</a>
      </li>
      <li class="p-2">
        <a class="p-3" routerLink="/team" routerLinkActive="bg-info rounded-pill ">Team</a>
      </li>
      <li class="p-2">
        <a class="p-3" routerLink="/contacts" routerLinkActive="bg-info rounded-pill ">Contact</a>
      </li>
    </ul>
  </div>
</div>
